h1 {
    color: aqua;
    margin: 0px;
    background-color: bisque;
    display:inline-block;
}

#first-header {
    display: block;
}

span {
    background-color: blueviolet;
    font-size: 10px;
}

.red-text{
    color: red;
}

ul {
    background-color: royalblue;
    color: white;
}

li {
    background-color: sandybrown;
}


.person-info > p {
    color: rgb(135, 141, 222);
}

section ~ p {
    color: chocolate;
}

section + p {
    font-size: 30px;
}

.techs *:last-child {
    background-color: olive;
}


#Section1, #Section1 * {
    border: 1px solid black;
    margin: 5px;
}

#Section1 > div {
    border: 2px solid khaki;
}

#Div2 ~  div {
    border: 3px solid tomato;
}

section:last-child {
    border: solid 5px greenyellow;
}